.BtnIcon{
  display: none; 
}
.Sidebar{
  display: flex;
  flex-direction: column;
  margin: 0;
}
.container:hover{
  background-color: rgba(131, 173, 210, 0.817);
  border-radius: 2rem;
  object-fit: cover;
}
.container{
  display: flex;
  padding: 0.5rem;
  gap: 1rem;
}
.icons{
  font-size: 2rem;
}
.names{
  font-size: 1.3rem;
  font-weight: 700;
}
@media screen and (max-width: 1075px){
  .names{
    display: none;
  }
  .Sidebar{
    display: flex;
    align-items: flex-end;
  }
  .BtnIcon{
    display: block;
    color: white;
    background-color: aqua;
    font-size: 1.2rem;
    padding: 0.8rem;
    border-radius: 7rem;
    margin-top: 0.2rem;
  }
  .UsersName{
    display: none;
  }
}
@media screen and (max-width: 550px){
  .Sidebar{
    display: flex;
    flex-direction: row;
    font-size: 0.5rem;
    padding: 0 1rem;
  }
}