.BtnIcon{
  display: none; 
}
.mainContainer{
  display: flex;
}


.Sidebar{
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 3rem;
}
.container:hover{
  background-color: rgba(131, 173, 210, 0.817);
  border-radius: 2rem;
  object-fit: cover;
}
.container{
  display: flex;
  padding: 0.5rem;
  gap: 1rem;
}
.icons{
  font-size: 2rem;
}

.names{
  font-size: 1.3rem;
  font-weight: 700;
}
@media screen and (max-width: 1075px){
  .names{
    display: none;
  }
  .mainContainer{
    display: flex;
  }
  
  .Sidebar{
    display: flex;
    align-items: flex-end;
    max-width: 100%;
  }
  .BtnIcon{
    display: block;
    color: white;
    background-color: aqua;
    font-size: 1.2rem;
    padding: 0.8rem;
    border-radius: 7rem;
    margin-top: 0.2rem;
  }
 
}
@media screen and (max-width: 700px){

  .Sidebar{
    margin: 0;
  }
}
@media screen and (max-width: 550px){
  .mainContainer{
    overflow: scroll;
    max-width: 100vw;
  }
  .Sidebar{
    display: flex;
    flex-direction: row;
    font-size: 0.5rem;
    padding: 0 ;
    margin: 0;
  }
 
  .UsersName{
    margin-left: 0.3rem;
    font-size: 0.5rem;
    display: block;
  }
}