* {
    margin: 0;
    padding: 0;
  }
  .mainContainer {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    padding: 1rem 0;
  }
  .BtnIcon{
    display: none; 
  }
  .Sidebar {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    color: black;
    margin-bottom: 2rem;
  }
  .container {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
  }
  .icons {
    font-size: 1.8rem;
  }
  
@media screen and (max-width: 1024px){
  .mainContainer{
    width: 10rem;

  }
  .BtnIcon{
    display: block;
    color: white;
    font-size: 1.5rem;
    background-color: aqua;
    padding: 0.6rem;
    border-radius: 35px;
  }
  .Sidebar{
    gap: 0;
  }
  .container{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 0;
  }
  .icons{
    font-size: 1.5rem;
    padding-right: 1.5rem;
  }

  .names{
    visibility: hidden;
  }
}