<<<<<<< HEAD
.MainContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 3fr;
}
.LsideBar{
    grid-column: 1/3;
    border: 1px solid black;
    padding: 1rem 1rem 0 3rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
.MidDiv{
    grid-column: 3/5;
    border: 1px solid black;
}
.RsideBar{
    grid-column: 5/6;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding: 0 3rem 4rem 2rem;
}
@media screen and (max-width: 1075px){
   .LsideBar{
    grid-column: 1/2;
    margin-right: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    overflow: scroll;
   }
   .MidDiv{
    grid-column: 2/5;
   }
}
=======
.MainContainer {
  display: grid;
  grid-template-columns: 2fr 4fr 3fr;
}

/* .MainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */
>>>>>>> master
