.MainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 1fr 2fr;
}
.LsideBar {
  grid-column: 1/3;
  padding: 1rem 1rem 0 3rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 0;
}
.MidDiv {
  grid-column: 3/5;
  overflow: scroll;
}
.RsideBar {
  grid-column: 5/7;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 0 3rem 4rem 2rem;
}
@media screen and (max-width: 1075px) {
  .LsideBar {
    grid-column: 1/2;
    margin-right: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    overflow: scroll;
  }
  .MidDiv {
    grid-column: 2/5;
  }
}
@media screen and (max-width: 1000px) {
  .MainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr 2fr;
  }

  .MidDiv {
    grid-column: 3/6;
  }
  .LsideBar {
    margin-left: 5.3rem;
  }
  .RsideBar {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .MainContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .MidDiv {
    grid-column: 2/3;
  }
  .LsideBar {
    margin-left: 4vw;
    grid-column: 1/2;
  }
}
@media screen and (max-width: 700px) {
  .MainContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1rem;
    margin: 0 1vw 0 0;
  }
}
@media screen and (max-width: 550px) {
  .MainContainer {
    display: flex;
    flex-direction: column-reverse;
  }
  .LsideBar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 90vh;
    padding: 0;
    margin: 0 0 0 0.2rem;
    background-color: whitesmoke;
  }
}
